@import '../../../../assets/SCSS/variables';

mat-sidenav{
  overflow: hidden;
  width: 10em;

  mat-toolbar{
    background-color: $primary-color;
    height: 50px;
  }

  ngx-simplebar {
    width: 100%;
    height: calc(100% - 50px);

    .menuIten{
      display: inline-flex;
      justify-content: left;
      align-items: center;
      cursor: pointer;
      padding: 30px;
      width: calc(100% - 60px);
      transition: $time_transition;
      mat-icon{
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .menuIten:hover{
      background-color: rgba($color: #000000, $alpha: 0.2);
      span{
        color: $primary-color;
      }
      mat-icon{
        color: $primary-color;
      }
    }
    
    .active{
      span{
        color: $primary-color;
      }
      mat-icon{
        color: $primary-color;
      }
    }
  }
}

mat-sidenav-content{
  overflow: hidden;

  mat-toolbar {
    position: sticky !important;
    top: 0;
    display: flex !important;
    width: 100% !important;
    z-index: 99;
    height: 50px;
    background-color: $primary_color;
  }

  ngx-simplebar {
    width: 100%;
    height: calc(100% - 50px);

    .content{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}