<body class="mat-app-background">
    <form [formGroup]='loginForm' novalidate>
        <mat-card>
            <mat-card-header>
                <img mat-card-img src='../../../../assets/img/logo.png' alt='Logo Hospital'>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="E-mail" formControlName='email' inputmode="email">
                    <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                        E-mail é obrigatório
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.email.hasError('email')">
                        Favor informar e-mail valido
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" formControlName='password' type="password">
                    <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                        Senha é obrigatório
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)='login()'>
                    Logar 
                    <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>                    
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</body>