@import '../../../../../assets/SCSS/variables';

.container{
    display: flex;
    flex-direction:column;
    width: 96%;
    margin: auto;

    mat-card{
        margin-top: 2%;

        mat-card-content{
            display: flex;
            flex-direction: column;
            width: 100%;

            mat-form-field{
                width: 100%;
            }  
        }
    }
}
