<div class="container">
    <mat-card>
        <mat-card-header>
            <h1>Gerenciar Paciente</h1>
        </mat-card-header>
        <mat-card-content>
            <div class="actions">
                <mat-form-field >
                    <mat-label>Campo</mat-label>
                    <mat-select [value]="filterOptions[0].key" (selectionChange)="inputFilter.value=''; applyFilter(selectFilter.value, inputFilter.value)" #selectFilter>
                        <mat-option *ngFor="let filter of filterOptions" [value]="filter.key">{{filter.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Valor</mat-label>
                    <input matInput (keyup)="applyFilter(selectFilter.value, inputFilter.value)" #inputFilter>
                </mat-form-field>
        
                <button *ngIf="currentPlataform !== Plataform.Mobile" mat-raised-button color="primary" (click)="createPaciente()">
                    <mat-icon  mat-icon>add</mat-icon>
                    <span>Adicionar Paciente</span>
                </button>
        
                <button *ngIf="currentPlataform === Plataform.Mobile" mat-fab class="mobile-button" color="primary" (click)="createPaciente()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="mat-elevation-z8" *ngIf="currentPlataform !== Plataform.Mobile">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- nome Column -->
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                        <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
                    </ng-container> 

                    <!-- idade Column -->
                    <ng-container matColumnDef="idade">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Idade </th>
                        <td mat-cell *matCellDef="let row"> {{row.idade}} </td>
                    </ng-container> 

                    <!-- sexo Column -->
                    <ng-container matColumnDef="sexo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Genero </th>
                        <td mat-cell *matCellDef="let row"> {{row.sexo}} </td>
                    </ng-container> 

                    <!-- Telefone Column -->
                    <ng-container matColumnDef="telefone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
                        <td mat-cell *matCellDef="let row"> {{row.telefone}} </td>
                    </ng-container>

                    <!-- contatoEmergencia Column -->
                    <ng-container matColumnDef="contatoEmergencia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contato de Emergencia </th>
                        <td mat-cell *matCellDef="let row"> {{row.contatoEmergencia}} </td>
                    </ng-container>

                    <!-- telefoneEmergencia Column -->
                    <ng-container matColumnDef="telefoneEmergencia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone de Emergencia </th>
                        <td mat-cell *matCellDef="let row"> {{row.telefoneEmergencia}} </td>
                    </ng-container>

                    <!-- telefoneEmergencia Column -->
                    <ng-container matColumnDef="telefoneEmergencia">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone de Emergencia </th>
                        <td mat-cell *matCellDef="let row"> {{row.telefoneEmergencia}} </td>
                    </ng-container>

                    <!-- cpf Column -->
                    <ng-container matColumnDef="cpf">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
                        <td mat-cell *matCellDef="let row"> {{row.cpf}} </td>
                    </ng-container>

                    <!-- sintomas Column -->
                    <ng-container matColumnDef="sintomas">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sintomas </th>
                        <td mat-cell *matCellDef="let row"> {{row.sintomas}} </td>
                    </ng-container>

                    <!-- historico Column -->
                    <ng-container matColumnDef="historico">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Historico </th>
                        <td mat-cell *matCellDef="let row"> {{row.historico}} </td>
                    </ng-container>
        
                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">  
                        <button mat-icon-button matTooltip="Editar" matTooltipClass="tool-tip" matTooltipPosition="after" (click)="editPaciente(row.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Deletar" matTooltipClass="tool-tip" matTooltipPosition="after" (click)="deletePaciente(row.id)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                    </ng-container>                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div *ngIf="currentPlataform === Plataform.Mobile" class="mobile-table">
                <mat-nav-list>
                    <!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
<!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
<!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
<!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
<!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
<!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
<!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE --><!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
                    <!-- FAZER ESSA ADAPTAÇÃO PARA O MOBILE -->
                    <div *ngFor="let pulseira of dataSource.filteredData" class="mobile-table-container">
                        <div class="mobile-card">
                            <div class="mobile-card-content">
                                <h3 matLine><strong>{{pulseira.node}}</strong></h3>
                                <span matLine >
                                    <strong>Status:&nbsp;</strong>
                                    <span>{{pulseira.status}}</span>
                                </span>
                            </div>
                            <div class="mobile-card-actions">
                                <button mat-icon-button matTooltip="Editar" matTooltipClass="tool-tip" matTooltipPosition="after" (click)="editPaciente(paciente.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Deletar" matTooltipClass="tool-tip" matTooltipPosition="after" (click)="deletePaciente(peciente.id)">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-nav-list>
            </div>
        </mat-card-content>
        <mat-card-actions>
            
        </mat-card-actions>
    </mat-card>
</div>